.register_hero {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	min-height: 100vh;
	width: 70%;

	&_theme_switch_wrapper {
		display: flex;
		position: absolute;
		align-items: center;
		left: 5rem;
		top: 4rem;
	}

	&_entry_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		& h4 {
			margin: 1em 0;
			// margin-right: 2em;
			align-self: flex-start;
			font-size: 1.1em;
			color: var(--text-color);
		}
	}

	&_form {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&_input,
		&_submit {
			width: 30em;
			margin: 1em 0;
			padding: 0.8rem;
			border-radius: 0.5rem;
			border: none;
			font-size: 1em;
			direction: ltr;
		}
		&_input {
			background-color: var(--secondary-bg);
			color: var(--text-color);
		}
		&_submit {
			background-color: var(--primery-color) !important;
			color: #ffffff !important;
			font-weight: bold;
			cursor: pointer;
		}

		& label {
			color: var(--gray-color);
		}

		&_password_container {
			display: flex;
			justify-content: space-between;
			width: 100%;

			& div {
				display: flex;
				flex-direction: column;

				& input {
					width: 14.5em;
				}
			}
		}
	}

	&_login {
		display: flex;
		justify-content: center;
		align-items: center;
		& a {
			color: var(--primery-color);
			margin: 0.5rem;
			font-family: IRANSans !important;

			&:hover {
				color: var(--gray-color);
			}
		}
	}
}
