.header_profile-header {
	display: flex;
	align-items: center;

	.profile-header_avatar {
		width: 3rem;
		height: 3rem;
		border-radius: 100rem;
		margin-left: 0.7rem;
	}

	.profile-header_info {
		display: flex;
		flex-direction: column;

		.info_name {
			font-size: 1.3em;
			color: var(--text-color);
		}

		.info_user-name {
			font-size: 0.8em;
			color: var(--gray-color);
			direction: ltr;
		}
	}
}
