@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2flkkx');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2flkkx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2flkkx') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2flkkx') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2flkkx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Verified {
  &:before {
    content: $icon-Verified; 
  }
}
.icon-Search {
  &:before {
    content: $icon-Search; 
  }
}
.icon-Share {
  &:before {
    content: $icon-Share; 
  }
}
.icon-Comment {
  &:before {
    content: $icon-Comment; 
  }
}
.icon-Retweet {
  &:before {
    content: $icon-Retweet; 
  }
}
.icon-Like {
  &:before {
    content: $icon-Like; 
  }
}
.icon-Image {
  &:before {
    content: $icon-Image; 
  }
}
.icon-Newtweet {
  &:before {
    content: $icon-Newtweet; 
  }
}
.icon-Document {
  &:before {
    content: $icon-Document; 
  }
}
.icon-Bookmark {
  &:before {
    content: $icon-Bookmark; 
  }
}
.icon-Message {
  &:before {
    content: $icon-Message; 
  }
}
.icon-Notification {
  &:before {
    content: $icon-Notification; 
  }
}
.icon-Home {
  &:before {
    content: $icon-Home; 
  }
}
.icon-Sun {
  &:before {
    content: $icon-Sun; 
  }
}
.icon-Users-fill {
  &:before {
    content: $icon-Users-fill; 
  }
}
.icon-Github {
  &:before {
    content: $icon-Github; 
  }
}
.icon-Message-fill {
  &:before {
    content: $icon-Message-fill; 
  }
}
.icon-Moon {
  &:before {
    content: $icon-Moon; 
  }
}
.icon-Search-fill {
  &:before {
    content: $icon-Search-fill; 
  }
}

