$icomoon-font-family: "TwitterFont" !default;
$icomoon-font-path: "fonts" !default;

$icon-Verified: "\e912";
$icon-Search: "\e906";
$icon-Share: "\e907";
$icon-Comment: "\e908";
$icon-Retweet: "\e909";
$icon-Like: "\e90a";
$icon-Image: "\e90b";
$icon-Newtweet: "\e90c";
$icon-Document: "\e90d";
$icon-Bookmark: "\e90e";
$icon-Message: "\e90f";
$icon-Notification: "\e910";
$icon-Home: "\e911";
$icon-Sun: "\e901";
$icon-Users-fill: "\e902";
$icon-Github: "\e903";
$icon-Message-fill: "\e904";
$icon-Moon: "\e905";
$icon-Search-fill: "\e900";

