$icomoon-font-family: "Twitter" !default;
$icomoon-font-path: "fonts" !default;

$icon-Github: "\e905";
$icon-Message: "\e900";
$icon-Moon: "\e901";
$icon-Search: "\e902";
$icon-Sun: "\e903";
$icon-Users: "\e904";

