.twits {
	border-radius: 13px;
	background-color: var(--secondary-bg);

	&_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: auto;
		border-bottom: 1px solid var(--gray-color);
	}
	&_wrapper:last-child {
		border-bottom: none;
	}
	&_user {
		&_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&_info {
			display: flex;
			margin: 1.3rem;
			align-items: center;

			& img {
				height: 2.4rem;
				width: 2.4rem;
				border-radius: 50%;
			}
			&_p {
				margin-right: 0.5rem;
				margin-left: 2px;
			}
			.icon-Verified {
				font-size: 0.8rem;
				align-self: flex-start;
				margin-top: 0.35rem;
			}
		}
		&_username {
			color: var(--gray-color);
			font-size: 13px;
		}
		&_time {
			color: var(--gray-color);
			font-size: 0.8rem;
			margin-left: 0.7rem;
		}
	}

	&_contents {
		margin: 1.3rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		& p {
			color: var(--text-color);
			font-size: 0.9rem;
			margin: 5px 10px;
			text-align: justify;
		}
		& img {
			margin-top: 0.9rem;
		}
	}
	&_icons {
		display: flex;
		width: 70%;
		justify-content: space-between;
		margin: 1.5rem auto;

		& i {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font-size: 1.2rem;
			color: var(--gray-color);

			&:hover {
				color: var(--text-color);
			}

			& p {
				color: var(--gray-color);
				font-size: 0.8rem;
				margin: 5px;
			}
		}
	}
}
