.theme_switch_button {
	& input {
		display: none;
	}

	& input:checked + .theme_switch {
		.round {
			transform: translateX(2.1em);
		}

		.icon-Sun {
			color: var(--gray-color);
		}

		.icon-Moon {
			color: #ffffff;
		}
	}

	& .theme_switch {
		display: flex;
		height: 2.6rem;
		width: 5rem;
		border-radius: 100px;
		align-items: center;
		justify-content: space-between;
		background-color: var(--secondary-bg);
		position: relative;
		padding: 5px 15px;
		cursor: pointer;

		i {
			z-index: 2;
			font-size: 1em;
			transition: color 0.5s;

			&.icon-Moon {
				color: var(--gray-color);
			}

			&.icon-Sun {
				color: #ffffff;
			}
		}

		& .round {
			height: 1.8rem;
			width: 1.8rem;
			background-color: var(--primery-color);
			position: absolute;
			border-radius: 100px;
			top: 0.4em;
			left: 0.5em;
			transition: transform 0.2s linear;
		}
	}
}
