header {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;

	.header_container {
		position: fixed;
		display: flex;
		padding-top: 3rem;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 220px;
		padding-bottom: 5rem;
	}
}
