header {
	height: 100vh;
	position: relative;
	overflow: hidden;
	width: 300px;

	.header_container {
		position: fixed;
		display: flex;
		padding-top: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding-bottom: 5rem;
	}
}
