.main_content {
	height: 100%;
	width: 600px;
	margin: 0 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-right: 1px solid var(--gray-color);
	border-left: 1px solid var(--gray-color);
}
